<!-- Modal for editing quiz questions -->
<div class="modal fade" id="editQuizModal" tabindex="-1" aria-labelledby="editQuizModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="editQuizModalLabel">
          {{#str}}editquizquestions, local_aicourse{{/str}}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{#str}}close, core{{/str}}"></button>
      </div>

      <div class="modal-body">
        <div id="quiz-question-editor-container">
          <!-- Dynamic list of editable quiz questions will be injected here by JS -->
          <p><em>{{#str}}loadingquestions, local_aicourse{{/str}}</em></p>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          {{#str}}cancel, local_aicourse{{/str}}
        </button>
        <button type="button" class="btn btn-primary" id="saveQuizEditsBtn">
          {{#str}}savechanges, local_aicourse{{/str}}
        </button>
      </div>

    </div>
  </div>
</div>
